<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 align-items-center">
      <h3 class="bg-primary text-white p-3">{{ GetName() }} Todo App</h3>

      <div class="input-group">
        <input matInput placeholder="Yapılacak Yeni Madde Ekle" type="text" #todoText class="form-control" />
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addItem(todoText.value); todoText.value='';">ADD</button>
        </div>
      </div>

      <div class="custom-control custom-checkbox my-3">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="isDisplay" name="" id="displayAll">
          <label class="custom-control-label" for="displayAll">Display All</label>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of GetItems(); let in = index">
            <td>{{ in + 1 }}</td>
            <td>{{ i.description }}</td>
            <td>
                <input type="checkbox" [(ngModel)]="i.action">
            </td>
            <td [ngSwitch]="i.action">
              <span *ngSwitchCase="true"> Yes </span>
              <span *ngSwitchCase="false"> No </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
